header{
    text-align: center;
    background-color: #a8aeb5;
    padding: 5px;
}



body {
    background-color: #f5f8f8;
    margin-left: 20px;
    margin-right: 20px;
    
}

main{
   font-family: sans-serif;
    
   
}

h1
{
    color: #404245;
    font-family: sans-serif, Arial, Helvetica;
    text-align: center;
 
}


h2
{
    margin-block: 30px;
    line-height: 0.5;

}


p
{
    font-family: cambria,sans-serif;
    margin-block: 10px;
    line-height: 1.6;
    
}



li{
    font-family: cambria,sans-serif;
    

}


footer
    p{
        text-align: center;
        /*background-color: #22466C;
        color: #fff;
        padding: 20px;
        border-width: 10px;
        border-style: solid;
        border-color: #55708c;*/
        
    }


a{
    text-decoration: aliceblue,underline;
    color: #7c9ec1;
}



section
{
    margin-block: 85px;
    
}

/* .Firstline
{
    color: #363228;
}

#Lastline
{
    color: #cb721c;
}




#p2lastine
{
    color: #cb721c;
} */


.teal-bg
{
    background-color: #087A98;
    color: #fff;
    padding: 20px;
    border-width: 3px;
    border-style: solid;
    border-color: #0b4a5a;
    
}

.teal-text
{
    color: #087A98;
}

.image-text
{
    background-image: url(..//images/simple-steps.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #ffffff;
    padding: 10px;
    border:solid 5px #588ad0
}


.index-heading
{
    color: #d1ad36;
}



a{
    color : #083698
}

a:visited{
    color : #5d9d6c
}


a:hover{
    color : #465a0b
}

